.registerBody {
    background: linear-gradient(135deg, #031A55, #65D623);
    position: fixed;
    overflow: auto;
    width: 100%;
}

.registerForm {
    margin: 5rem 0;
}

.registerForm .card {
    max-width: 60rem;
}