/* Sidebar Open */
.sidebarOpen {
    width: 20rem;
    transition: width 0.5s ease-out;
}

.sidebarOpen .titleNav,
.churchLogo {
    display: flex !important;
}

.sidebarOpen .churchLogo,
.churchLogo {
    width: 150px;
    height: 150px;
}


/* ============================================================================================================= */
/* Sidebar Close */
.sidebarClose {
    width: 5rem;
    transition: width 0.5s ease-out;
}

.sidebarClose .hover {
    display: flex;
    justify-content: center;
}

.sidebarClose .navlist {
    padding-top: 40px;
    /* transition: padding-top 0.5s ease-out; */
}

.sidebarClose .titleNav,
.closeSidebar,
.churchLogoMobile {
    display: none !important;
}

.sidebarClose .churchLogo {
    width: 50px;
    height: 50px;
}

.churchLogoMobile {
    width: 40px;
    height: 40px;
}

/* Mobile Screen */
@media screen and (max-width: 500px) {

    .topNav {
        flex-direction: row-reverse !important;
    }

    /* Sidebar Open */
    .sidebar.mobileNav.sidebarOpen {
        position: absolute !important;
        z-index: 9999 !important;
        width: 17rem;
        transition: width 0.5s ease-out;
    }

    /* .sidebar.mobileNav.sidebarOpen, */
    .sidebarOpen .icon,
    .closeSidebar,
    .churchLogoMobile {
        display: flex !important;
    }

    .sidebarOpen .menu {
        display: none !important;
    }

    /* ============================================================================================================= */
    /* Sidebar Close */
    .sidebar.mobileNav.sidebarClose {
        position: absolute !important;
        z-index: 9999 !important;
        width: 0rem;
        transition: width 0.5s ease-out;
    }

    .sidebarClose .churchLogo,
    .sidebarClose .closeSidebar {
        display: none !important;
    }

    /* .sidebar.mobileNav.sidebarClose, */
    .sidebarClose .icon {
        display: none !important;
    }

}